:root {
  --primary-clr: #fff;
  --secondary-clr: #000;
  --tertiary-clr: #f2fdff;
  --shadow-clr: #00000023;
  --orange: #ff3838;
  --max-width: 80rem;
  --wrapper-max-width: 65rem;
  --global-padding: 1.25rem;
}
