:root {
  --primary-clr: #000;
  --secondary-clr: #fff;
  --tertiary-clr: #f2fdff29;
  --shadow-clr: #ffffff3a;
  --liked: #ff3838;
  --unLiked: #cccccc;
  --max-width: 80rem;
  --wrapper-max-width: 65rem;
  --global-padding: 1.25rem;
}
