footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
  padding: 4.375rem 1.875rem;
  width: 100%;
  font-size: 0.75rem;
  opacity: 0.5;
}
